process {
    withLabel: 'process_low'  { cpus = 2;  memory = '4 GB'  }
    withLabel: 'process_medium'{ cpus = 8;  memory = '16 GB' }
    withLabel: 'process_high'  { cpus = 16; memory = '64 GB' }
}

profiles {
    // Run locally with conda
    conda {
        conda.enabled    = true
        conda.useMamba   = true
    }
    // Run on your HPC SLURM cluster
    slurm {
        process.executor = 'slurm'
        process.queue    = 'standard'
        process.clusterOptions = '--account=my_project'
    }
    // Run with Docker containers
    docker {
        docker.enabled   = true
        process.container= 'quay.io/biocontainers/...'
    }
}